# Core functionality - changes here should be rare!
/src/app.py                   @amrufai
/src/backend/database.py      @amrufai
/src/backend/routers/auth.py  @amrufai

# The frontend will need refactored soon to be more object oriented.
/src/static/   @amrufai
